<mat-card>
  <mat-card-header>
    <mat-card-title>
      Create Item
    </mat-card-title>
  </mat-card-header>

  <mat-card-actions align='end'>
    <button mat-mini-fab color='primary' (click)='createDialog()'>
      <mat-icon>add_task</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Todo Item</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <app-todos [items]='todos$|async' (deleteHandler)='deleteItem($event)' (toggleHandler)='toggleItem($event)'>
    </app-todos>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Completed Item</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-todos [items]='completes$|async' (deleteHandler)='deleteItem($event)' (toggleHandler)='toggleItem($event)'>
    </app-todos>
  </mat-card-content>
</mat-card>
